.title {
    height: 900px;
    background: #EEEEEE;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 0 5%;
    position: relative;
    overflow: hidden;

    .text {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-flow: column;

        h1 {
            font-size: 6em;
            line-height: 1em;
            letter-spacing: -3px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 2em;
            color: rgba($color: #000000, $alpha: .5);
            font-weight: 400;
        }

        p {
            font-size: 1.15em;
            color: rgba($color: #000000, $alpha: .6);
            margin: 1.5rem 0 3rem;
            line-height: 1.5em;
            width: 90%;

            b {
                font-weight: 600;
            }
        }

        .btn {
    
            a {
                font-size: 1.5em;
                font-weight: 600;

                svg {
                    stroke-width: 2.5;
                }
            }
        }
    }


    .image {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;

        &::after {
            content: "";
            display: block;
            width: 40vw;
            height: 40vw;
            border-radius: 50%;
            background: rgb(29,92,225);
            background: linear-gradient(90deg, rgba(29,92,225,1) 35%, rgba(3,156,220,1) 100%);
            position: absolute;
            bottom: -20%;
            left: 5vw;
        }


        img {
            position: relative;
            z-index: 2;
        }
    }
}



.heading {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
}


.problems, .benefits {
    padding: 5rem 10%;
    background: #fff;

    .problems__content, .benefits__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        row-gap: 1.5rem;
        margin-top: 2.5rem;

        .item {
            background: #fff;
            padding: 2rem;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            gap: 1.5rem;
            border: 5px solid #c40000;
            position: relative;
            z-index: 1;



            h3 {
                font-size: 1.4em;
                font-weight: 600;
                text-align: center;
                order: 2;
            }

            img {
                height: 150px;
                order: 1;
            }
        }
    }
}

.benefits {
    // background: #eee;
    padding-top: 2.5rem;
    padding-bottom: 7.5rem;

    .benefits__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        row-gap: 1.5rem;


        .item {
            // background: #fff;
            border: 5px solid #1D5BE0;
        }
    }
}




.process {
    background: #EEEEEE;
    padding: 5rem 10%;

    h3.subheading {
        text-align: center;
        font-size: 1.25em;
        color: rgba($color: #000000, $alpha: .4);
        font-weight: 500;
        margin-top: 1rem;
    }


    .process__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 1.5rem;
        margin-top: 3rem;

        .item {
            padding: 1.5rem;
            background: #fff;
            border-radius: 10px;
            border: 3px solid #1D5BE0;

            .item__heading {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1.25rem;

                .number {
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(45deg, #1d5be0, #0197DA);
                    border-radius: 50%;

                    span {
                        font-size: 27px;
                        color: #fff;
                        font-weight: 600;
                    }
                }

                h3 {
                    font-size: 1.75em;
                }
            }

            p {
                font-size: .9em;
                line-height: 1.5em;
                color: rgba($color: #000000, $alpha: .6);

                b {
                    font-weight: 600;
                }
            }
        }


        .arrow {
            height: 60px;
            width: 60px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 30px;
                width: 30px;
            }
        }
    }
}


.pricing {
    padding: 5rem 5%;

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: .75rem;

        .button {
            font-size: 18px;
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 100px; // More rounded corners
            background: #fff; // Transparent background
            border: 2px solid #1d5be0; // Solid border with darker blue
            cursor: pointer;
          
            // Gradient text
            background: linear-gradient(45deg, #1D55E0, #0197DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; // Transparent text to show gradient
            background-clip: text;
          
            // Hover effect
            &:hover, &.active {
                background: linear-gradient(45deg, #1D5bE0, #0197DA); // Apply gradient to background
                color: white; // White text
                -webkit-background-clip: border-box; // Remove gradient from text on hover
                -webkit-text-fill-color: white;
                background-clip: border-box;
                border: 2px solid transparent;
            
            }
        }
    }

    #additional__info {
        text-align: center;
        margin: 2.5rem 0 1.5rem;
    }

    .pricing__content {
        gap: 4rem;
        margin-top: 2.5rem;
        display: none;


        &.active {
            display: block;

            .bundle {
                .item {
                    &:nth-child(1) {
                        animation: .75s pricing-item forwards;
                    }

                    &:nth-child(2) {
                        animation: .75s pricing-item .5s forwards;
                    }

                    &:nth-child(3) {
                        animation: .75s pricing-item 1s forwards;
                    }
                }
            }
        }


        @keyframes pricing-item {
            0% {
                opacity: 0;
                transform: translateY(100px);
            }

            100% {
                opacity: 1;
            }
        }


        .bundle {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;


            .item {
                width: 100%;
                padding: 3px;
                background: linear-gradient(45deg, #1d5be0, #0197DA);
                border-radius: 20px;
                position: relative;
                opacity: 0;

                &:nth-child(2) {
                    .item__content {
                        background: linear-gradient(45deg, #1D5BE0, #0197DA);

                        * {
                            color: #fff;
                        }

                        .price__parent {
                            .price {
                                
                                &.previous {
                                    color: rgba($color: #fff, $alpha: .6);
                                    
                                    
                                    span {
                                        color: rgba($color: #fff, $alpha: .6);
                                    }
                                }
                            }
                        }
                    }

                    

                    &::after {
                        z-index: -2;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        height: 100%;
                        width: 100%;
                        background: #fff;
                        z-index: -1;
                        border-radius: 20px;
                    }
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -7px;
                    right: -7px;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(45deg, #1d5be0, #0197DA);
                    z-index: -1;
                    border-radius: 20px;
                }
                
                .item__content {
                    background: #fff;
                    height: 100%;
                    width: 100%;
                    padding: 1.5rem;
                    border-radius: 17px;


                    .item__heading {
                        display: grid;
                        grid-template-columns: 1fr 75px;
                        align-items: center;
                        gap: 1rem;

                        img {
                            width: 75px;
                        }
                    }

                    h3 {
                        font-size: 2.5em;
                    }
    
                    p {
                        font-size: 1em;
                        color: rgba($color: #000000, $alpha: .5);
                    }
    
                    
                    
                    .price__parent {
                        margin: 1.5rem 0 1rem;

                        .price {
                            font-size: 1.35em;
                            margin: .75rem 0 0;

                            &.previous {
                                font-size: 1em;
                                color: rgba($color: #000000, $alpha: .4);
                                font-weight: 600;
                                margin: 0;
                                text-decoration: line-through;
                            }

                            span {
                                white-space: nowrap;
                                word-spacing: -2px;
                            }
                        }
                    }
    
                    .point {
                        display: grid;
                        grid-template-columns: 30px 1fr;
                        align-items: center;
                        gap: .5rem;
                        margin: .5rem 0;
    
                        .icon {
                            height: 30px;
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: linear-gradient(45deg, #1D5BE0, #0197DA);
                            border-radius: 50%;
    
                            svg {
                                height: 17px;
                                width: 17px;
                                stroke-width: 3.5;
                                color: #fff;
                            }
                        }
    
                        span {
                            font-size: .9em;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}



.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        user-select: none;
        transition: 0.6s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
}

.review {
    padding: 5rem 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5rem;
    background: #EEEEEE;
    position: absolute; /* Initially position all slides out of the flow */
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.6s ease-out .5s, transform 0.6s ease-out .5s;

    &.active {
        position: relative; /* Make the active slide take up space */
        opacity: 1; /* Fade in the active slide */
        z-index: 3;
    }

    .image,
    .text {
        opacity: 0; /* Initially invisible */
        transform: translateY(50px); /* Initially positioned below */
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }

    &.active {
        .image,
        .text {
            opacity: 1; /* Fade in */
            transform: translateY(0); /* Slide to natural position */
        }
    }

    .image {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: end;

        .pc {
            width: 80%;
        }

        .mobile {
            width: 25vw;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .text {
        h2.heading {
            text-align: start;
        }

        .description {
            margin: 2rem 0;
            width: 100%;
            padding: 2rem;
            background: #fff;
            border-radius: 15px;

            p {
                color: rgba(0, 0, 0, 0.65);
                line-height: 1.5em;
            }

            .link {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 1.5rem;
                gap: 1rem;
                color: #000;
                text-decoration: none;

                .icon {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: linear-gradient(45deg, #1D5BE0, #0197DA);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        color: #fff;
                        height: 24px;
                        width: 24px;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 1.25em;
                }
            }
        }

        .btn {
            a {
                font-size: 1.5em;
            }
        }

        .service__type {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 3rem;
            gap: 1.5rem;

            .icon {
                height: 75px;
                width: 75px;
            }

            .service__type__text {
                h3 {
                    font-size: 2em;
                }

                p {
                    font-size: 1em;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 600;
                }
            }
        }
    }
}





.contacts {
    padding: 5rem 10% 0;
    display: grid;
    grid-template-columns: 45% 55%;

    .text {
        padding: 0 0 5rem;
        h2.heading {
            text-align: start;
        }

        p {
            color: rgba($color: #000000, $alpha: .6);
            line-height: 1.35em;
            font-size: .9em;
        }

        .contacts__links {
            margin: 2rem 0;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-flow: column;
            gap: 1rem;

            .link {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                color: #000;
                text-decoration: none;


                .icon {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    background: linear-gradient(45deg, #1D5BE0, #0197DA);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 27px;
                        width: 27px;
                        color: #fff;
                    }
                }

                span {
                    font-size: 1.35em;
                    font-weight: 500;
                }
            }
        }


        .billing__details {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-flow: column;
            gap: .5rem;

            h4 {
                font-size: 1.65em;
            }

            span {
                font-size: 1.1em;
                color: rgba($color: #000000, $alpha: .6);
            }
        }
    }


    .image {
        display: flex;
        justify-content: end;
        align-items: end;
        img {
            width: 80%;
        }
    }
}
